.nav-belt {
  height: 54px;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  .belt-left {
    left: 1559px;
    width: 10%;
    &__logo-title {
      font-size: 40px;
      font-weight: bold;
      padding-top: 30px;
      padding-left: 20px;
      color: white;
    }
  }
  .belt-right {
    width: 20%;
    display: flex;
    flex-direction: row;
    .account-display {
      width: 70%;
    }
    .cart-display {
      width: 30%;
    }
  }
  .belt-center {
    width: 70%;
  }
}
