////////////////////////////////////////////////////////
// Site Color Variables
////////////////////////////////////////////////////////

/* Base colors */
$color-back-header: #245796;
$color-back-footer: #245796;

$color-brand: #cf020d;
$color-brand-vidatres: #04673b;
$color-title: #4d5d73;
$color-main-titlebox: #f4f4f4;
$color-paragraph: #666666;
$color-border: #cacaca;
$color-border-dark: #939393;
$color-border-hover: #888888;
$color-border-focus: #aaaaaa;
$color-white: #ffffff;
$color-black: #000000;
$color-button-red: #cb0000;
$color-button-green: #40926e;
$color-input: #222222;
$color-table-one: #f4f4f4;
$color-table-two: rgb(232, 232, 232);
$color-table-hover: #dddddd;
$color-validated: #00a424;
